# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#html files
Swagat 3.0 Mobile - Merged (2).html
Swagat 3.0 - Standalone (3).html
Gujarat_CM_Dashboard_v2.html
Admin Console - Standalone (1).html
CitizenVoice_WhatsApp_v1.html
GMS_Officer_Portal_v2.html              